[Unit]
Description="Redacto KMS - Key and secrets management"
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/redacto-kms/redacto-kms.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=notify
EnvironmentFile=/etc/redacto-kms/redacto-kms.env
User=redacto-kms
Group=redacto-kms
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
CapabilityBoundingSet=CAP_SYSLOG
NoNewPrivileges=yes
ExecStart=/usr/bin/redacto-kms server -config=/etc/redacto-kms/redacto-kms.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
MemorySwapMax=0

[Install]
WantedBy=multi-user.target
